<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area utente</title>
    <link rel="styleSheet" href="../css/styleSheet.css">
</head>
<body>
    <!-- nome cognome, modifica mail, cambia password, status acquisto-->
    <nav class="nav">
        <% 
          let loginState=" ";
          let logOutState=" ";
          if(data.name){
            loginState = 'style=display:none;';
          }else{
            logOutState = 'style=display:none;';
          }
      %>
        <!--all the hrefs need to be routed using router.get and not router.post -->
        <a href="/">Home</a>
        <a href="/user/store">store</a>
        <div class="dropdown">
          <a class="dropbtn">Account</a>
          <div class="dropdown-content">
            <a href="/user/account"  <%= logOutState %>>Account</a>
            <a href="/user/logout" <%= logOutState %>>LogOut</a>
            <a href="/user/LoginPage" <%= loginState %>>login</a>
          </div>
        </div>
        
        <img src="../images/Logo.png">
      </nav>

    <br>
        <h2> Dati Utente</h2>
    <div class="data-area">
        <h3>User Information</h3>
        <div class="data-field">
            <p><span class="data-field-category">NAME:</span> <%= data.name %> </p>
            <p><span class="data-field-category">SURNAME:</span> <%= data.surname %> </p>
            <p><span class="data-field-category">USERNAME:</span> <%= data.userName %> </p>
            <p><span class="data-field-category">EMAIL:</span> <%= data.mail %> </p>
            <form method="post" action="/user/modify/mail">
                <span class="data-field-category">CAMBIA EMAIL:</span>
                <input type="email" id="mail" name="mail" placeholder="<%= data.mail %>" required>
                <input type="submit" value="Modifica Mail">
            </form>
            <form method="post" action="/user/modify/password">
                <span class="data-field-category">CAMBIA PASSWORD:</span>
                <input type="password" id="password" name="password" placeholder="**********" required>
                <input type="submit" value="Modifica Password">
            </form>
        </div>
    </div>
        <h2><%= data.message %></h2>
    </article>
</body>
</html>