<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area utente</title>
</head>
<body>
    <!-- nome cognome, modifica mail, cambia password, status acquisto-->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user/store">Store</a></li>
            <li><a href="/user">login</a></li>
        </ul>
    </nav>

    <br>
        <h2> Dati Utente</h2>
        <p>Name: <%= data.name %> </p>
        <p>Surname: <%= data.surname %> </p>
        <p>Username: <%= data.userName %> </p>
        <form method="post" action="/user/modify/mail">
            <label for="E-Mail">E-Mail: </label>
            <input type="email" id="mail" name="mail" placeholder="<%= data.mail %>" required>
            <input type="submit" value="Modifica Mail">
        </form>
        <form method="post" action="/user/modify/password">
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" placeholder="**********" required>
            <input type="submit" value="Modifica Password">
        </form>
        <h2><%= data.message %></h2>
    </article>
</body>
</html>